<p id="notice"><%= notice %></p>

<h4> Search product with barcode </h4>
<%= form_tag(products_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search")%>
<% end %>

<%= link_to "Get search history", search_history_products_path %>

<%= render partial: 'products', products: @products %>